
<h1>Bienvenue dans la home !</h1>


<% if @current_user %>
  <p>Tu es bien connecté en tant que : <%= @current_user.name %> </p>
<% else %>
  <h2>Bienvenue utilisateur non-enregistré :)</h2>
  <a href="/users/login">S'identifier</a>
<% end %>