
<!-- afficher
lien pour éditer
lien pour afficher tous -->

<div class="card" style="width: 20rem;">
	<div class="card-body">
    	<h5 class="card-title">salut, voici ton info!</h5>
    		<p class="card-text">Anonymous a écrit :</p>
    			<em>"<%= @gossip.content %>"</em>
    			<!-- <a href="/potin/<%#gossip[:id]%>">page de ce potin</a> -->
  			</div>
</div>