
<!-- afficher
lien pour éditer
lien pour afficher tous -->

<%= link_to "toutes les infos", gossips_path, class: "btn btn-lg btn-primary" %>

<div class="card" style="width: 20rem;">
	<div class="card-body">
    	<h5 class="card-title">salut, voici ton info!</h5>
    		<p class="card-text">Anonymous a écrit :</p>
    		<em>"<%= @gossip.content %>"</em>
    		<!-- <a href="/potin/<%#gossip[:id]%>">page de ce potin</a> -->
  	</div>
  	<%= link_to "modifier", edit_gossip_path, class: "btn btn-success" %>

</div>