
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <nav class="navbar navbar-default">
    
        <span><%= link_to "Accueil",   '#' %><span>
        <span><%= link_to "Index des gossips",   '#' %><span>
        <span><%= link_to "Nouveau gossip", '#' %><span>

    </nav>
  </div>
</header>