

<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-custom">
  <div class="container-fluid d-inline-flex">

    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
      <a class="navbar-brand justify-cotent-start" href="#">caca</a>
    </button>

    <!-- <a class="navbar-brand justify-cotent-start" href="#">caca<%# image_tag "logo.png", size:"50" %></a> -->
    <%= link_to "Accueil", root_path, class: "navbar-brand justify-cotent-start" %>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto" style="float: right">
        <li class="nav-item"><%= link_to "balance!", new_gossip_path, class: "nav-link" %></li>
        <li class="nav-item">soon<%# link_to "balance!", new_gossip_path, class: "nav-link" %></li>
        <li class="nav-item">soon<%# link_to "balance!", new_gossip_path, class: "nav-link" %></li>
        <li class="nav-item">soon<%# link_to "balance!", new_gossip_path, class: "nav-link" %></li>
      </ul>
    </div>
  </div>
</nav>